.mat-button {
    /* Increase button width and height */
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  
    /* Adjust font size if needed */
    font-size: 16px;
    border: none;
  }